@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header, footer {
    width: 100%;
    height: 130px;
    text-align: center;
    line-height: 130px;
    font-variant: small-caps;
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(23,23,75,0.8239670868347339) 43%, rgba(0,212,255,1) 100%);
}

footer {
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(23,23,75,0.8239670868347339) 43%, rgba(0,212,255,1) 100%);
    box-shadow: 1px 1px 10px 1px cornflowerblue;
}

header {
    margin-bottom: 15px;
}

main {
    width: 80%;
    margin: auto;

}


/* 
/\/\/\/\/\/\/\/\/\/\    NAV BAR     /\/\/\/\/\/\/\/\/\/\
*/
.nav-box {
    display: flex;
    width: 50%;
    margin: 0px auto 20px;
    justify-content: space-around;
    height: 50px;
    line-height: 35px;
    font-variant: small-caps;
}

.nav-box h3 {
    height: 35px;
    width: 200px;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px darkgrey;
    background-color: #1B98C3;
}

.nav-box a {
    text-decoration: none;
}

/* 
/\/\/\/\/\/\/\/\/\/\    INTRODUCTION SECTION     /\/\/\/\/\/\/\/\/\/\
*/

.intro-cont {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    min-width: 200px;
    text-align: center;
}

.intro-photo {
    max-width: 150px;
    max-height: 150px;
    padding: 20px 10px;
    border-radius: 50%;
    background-image: url(../images/profile.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 10px auto;
    box-shadow: 2px 2px 5px 1px #1B98C3;
}

.intro-photo img {
    height: 200px;
}

.intro-detail {
    padding: 10px;
    overflow: auto;
}

.intro-detail P {
    text-align: center;
}

/* 
/\/\/\/\/\/\/\/\/\/\    TOP 5 SECTION    /\/\/\/\/\/\/\/\/\/\
*/

.top-title {
    margin-bottom: 15px;
    text-align: center;
}

.top-5 {
    display: flex;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px 1px lightgrey;
    border-radius: 10px;
    margin-bottom: 50px;
}

.top-5 .top-container {
    min-width: 200px;
    height: 200px;
    padding: 10px;
}

.top-container {
    margin: auto;
}

.top-5 .top-description {
    padding: 10px;
    overflow: auto;
    line-height: 30px;
}

.references {
    margin: 40px 0px;
}

/* 
/\/\/\/\/\/\/\/\/\/\    INSERT LOGOS     /\/\/\/\/\/\/\/\/\/\
*/

.python-img, .java-img, .js-img, .csharp-img, .cplusplus-img, .php-img, .django-img, .spring-img, .angular-img, .aspnet-img, .laravel-img {
    /* background-image: url(../images/python-icon.svg); */
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    margin: 10px;
}

.java-img {
    background-image: url(../images/java-icon.svg);
}

.js-img {
    background-image: url(../images/javascript-icon.svg);
}

.csharp-img {
    background-image: url(../images/csharp-icon.svg);
}

.php-img {
    background-image: url(../images/php-icon.svg);
}

.cplusplus-img {
    background-image: url(../images/cplusplus-icon.svg);
}

.django-img {
    background-image: url(../images/django-icon.svg);
    height: 130px;
    margin: 25px;
}

.spring-img {
    background-image: url(../images/spring-icon.svg);
}

.angular-img {
    background-image: url(../images/angular-icon.svg);
}

.aspnet-img {
    background-image: url(../images/aspnet-icon.svg);
}

.laravel-img {
    background-image: url(../images/laravel-icon.svg);
}

/* 
/\/\/\/\/\/\/\/\/\/\    TO COMPLETE: LINKEABLE IMAGES. PYTHON EXAMPLE     /\/\/\/\/\/\/\/\/\/\
*/

#python {
    height: 150px;
}

/* 
/\/\/\/\/\/\/\/\/\/\    TEXT STYLES     /\/\/\/\/\/\/\/\/\/\
*/

body {
    font-family: 'Work Sans', sans-serif;
}

p {
    text-align: justify;
    padding: 0px 10px;
}

h1, h3 {
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 1.5em;
    font-variant: small-caps;
    color: whitesmoke;
}

h1 {
    font-size: 60px;
    box-shadow: 1px 0px 10px 1px cornflowerblue;
}

h3 {
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: cornflowerblue;
    text-shadow: 1px 1px 2.5px darkblue;
    font-size: 2em;
}

footer {
    color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
}

footer a {
    color: whitesmoke;
    text-decoration: none;
}

.header-title {
    text-shadow: 2px 2px 2px black;
}


/* 
/\/\/\/\/\/\/\/\/\/\    INTERACTION     /\/\/\/\/\/\/\/\/\/\
*/

