* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header, footer {
    width: 100%;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-variant: small-caps;
}

header {
    margin-bottom: 5px;
}

main {
    width: 80%;
    margin: auto;

}


/* 
/\/\/\/\/\/\/\/\/\/\    NAV BAR     /\/\/\/\/\/\/\/\/\/\
*/
.nav-box {
    border: 1px solid green;
    display: flex;
    width: 80%;
    margin: 0px auto 20px;
    justify-content: space-around;
    height: 50px;
    line-height: 35px;
    font-variant: small-caps;
}

.nav-box h3 {
    border: 1px solid blue;
    height: 35px;
    width: 200px;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
}

.nav-box a {
    text-decoration: none;
}

/* 
/\/\/\/\/\/\/\/\/\/\    INTRODUCTION SECTION     /\/\/\/\/\/\/\/\/\/\
*/

.intro-cont {
    display: flex;
    flex-direction: column;
    border: 1px solid orange;
    margin-bottom: 40px;
    min-width: 200px;
    text-align: center;
}

.intro-photo {
    max-width: 150px;
    max-height: 150px;
    padding: 20px 10px;
    border-radius: 50%;
    background-image: url(../images/profile.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: auto;
}

.intro-photo img {
    height: 200px;
}

.intro-detail {
    border: 1px solid green;
    padding: 10px;
    overflow: auto;
}

/* 
/\/\/\/\/\/\/\/\/\/\    TOP 5 SECTION    /\/\/\/\/\/\/\/\/\/\
*/

.top-title {
    border: 1px solid black;
    margin-bottom: 5px;
    text-align: center;
}

.top-5 {
    border: 1px solid orange;
    display: flex;
    margin-bottom: 30px;
}

.top-5 .top-container {
    border: 1px solid pink;
    min-width: 200px;
    height: 200px;
    padding: 10px;
}

.top-5 .top-description {
    padding: 10px;
    overflow: auto;
    /* line-height: 10px; */
}

.references {
    margin-bottom: 30px;
}

/* 
/\/\/\/\/\/\/\/\/\/\    INSERT LOGOS     /\/\/\/\/\/\/\/\/\/\
*/

.python-img, .java-img, .js-img, .csharp-img, .cplusplus-img, .php-img, .django-img, .spring-img, .angular-img, .aspnet-img, .laravel-img {
    background-image: url(../images/python-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    margin: 10px;
}

.java-img {
    background-image: url(../images/java-icon.svg);
}

.js-img {
    background-image: url(../images/javascript-icon.svg);
}

.csharp-img {
    background-image: url(../images/csharp-icon.svg);
}

.php-img {
    background-image: url(../images/php-icon.svg);
}

.cplusplus-img {
    background-image: url(../images/cplusplus-icon.svg);
}

.django-img {
    background-image: url(../images/django-icon.svg);
    height: 130px;
    margin: 25px;
}

.spring-img {
    background-image: url(../images/spring-icon.svg);
}

.angular-img {
    background-image: url(../images/angular-icon.svg);
}

.aspnet-img {
    background-image: url(../images/aspnet-icon.svg);
}

.laravel-img {
    background-image: url(../images/laravel-icon.svg);
}